<section class="section-padding about-us-section">
  <div class="container about-us-container">
    <div class="about-us-description about-us-block">
      <h2 class="section-title">About Us</h2>
      <ul class="about-us-list">
        <li class="about-us-item">
          <p class="section-text">
            The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
            vyshyvanka comes to life with new zest and style. Our store offers a
            wide selection of high-quality and authentic embroidery, which
            combines the elegance of traditional needlework and modern design.
          </p>
        </li>
        <li>
          <p class="section-text">
            In "Vyshyvanka Vibes" you will find various models of embroidery,
            from classic to modern, corresponding to the latest fashion trends.
            Our embroidery is made using natural fabrics and is embroidered by
            highly qualified craftsmen who convey the beauty of Ukrainian
            culture in every detail.We believe that vyshyvanka is not just
            clothing, but a symbol of national pride, the heritage of our
            ancestors and a way of expressing one's individuality. Each
            embroidery from "Vyshyvanka Vibes" has its own unique history and
            symbolism, which gives it a special meaning.
          </p>
        </li>
      </ul>
    </div>
    <div class="about-us-photo-block">
      <picture>
        <source
          class="about-us-photo"
          srcset="
            /img/about-us/about-us-img-desk-lg.jpg    1x,
            /img/about-us/about-us-img-desk-lg@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          class="about-us-photo"
          srcset="
            /img/about-us/about-us-img-desk-sm.jpg    1x,
            /img/about-us/about-us-img-desk-sm@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          class="about-us-photo"
          srcset="
            /img/about-us/about-us-img-tab.jpg    1x,
            /img/about-us/about-us-img-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          class="about-us-photo"
          srcset="
            /img/about-us/about-us-img-mob.jpg    1x,
            /img/about-us/about-us-img-mob@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          src="/img/about-us/about-us-img-tab.jpg"
          alt="girl-and-boy-photo"
        />
      </picture>
    </div>
  </div>
</section>
