<footer class="footer">
  <div class="container footer-container">
    <div class="footer-nav-container">
      <ul class="footer-nav-list">
        <li class="footer-nav-items footer-nav-items-about">
          <a href="#about-us" class="footer-nav-link">About us</a>
        </li>

        <li class="footer-nav-items footer-nav-items-collection">
          <a href="#our-collection " class="footer-nav-link">Our collection </a>
        </li>

        <li class="footer-nav-items footer-nav-items-order">
          <a href="#customer-order" class="footer-nav-link">Customer order</a>
        </li>

        <li class="footer-nav-items footer-nav-items-testimonials">
          <a href="#testimonials" class="footer-nav-link">Testimonials</a>
        </li>
      </ul>
    </div>

    <div class="footer-slogan-container">
      <p class="footer-slogan">
        A touch of <span class="brand-text-accent">Ukrainian</span> culture in
        every embroidery
      </p>
    </div>
  </div>
</footer>
