<footer class="footer animate-on-scroll">
  <div class="container">
    <nav class="footer-nav-container">
      <ul class="footer-nav-list">
        <li class="footer-nav-items">
          <a href="#about-us" class="footer-nav-link">About us</a>
        </li>

        <li class="footer-nav-items">
          <a href="#our-collection " class="footer-nav-link">Our collection </a>
        </li>

        <li class="footer-nav-items">
          <a href="#customer-order" class="footer-nav-link">Customer order</a>
        </li>

        <li class="footer-nav-items">
          <a href="#testimonials" class="footer-nav-link">Testimonials</a>
        </li>
      </ul>
    </nav>

    <p class="footer-slogan animate-on-scroll">
      A touch of
      <span class="footer-text-accent animate-on-scroll">Ukrainian</span>
      culture in every embroidery
    </p>
  </div>
</footer>
