<header class="header">
  <div class="header-container container">
    <!-- <div class="logo-nav-container">  Прибрати. Непотрібний-->
    <nav class="nav-header">
      <!-- Лого переносимо до тегу нав, бо це теж навігація. 
        Тег нав обгортаєм у посилання, так як за логікою лого 
        повертає завжди на головону -->
      <a href="/index.html" class="logo">
        <img src="/img/logo.svg" width="44" height="39" alt="site logo" />
      </a>
      <ul class="nav-list-header">
        <li>
          <a href="" class="nav-link-header">about us</a>
        </li>
        <li>
          <a href="" class="nav-link-header">our collection</a>
        </li>
        <li>
          <a href="" class="nav-link-header">customer order</a>
        </li>
        <li>
          <a href="" class="nav-link-header">testimonials</a>
        </li>
      </ul>
    </nav>
    <!-- </div>  Прибрати. Непотрібний-->
    <div class="contacts-container-header">
      <!-- <div class="address-container-header"> Прибрати. Непотрібний-->
      <address class="address">
        <a class="address-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
      </address>
      <!-- </div> Прибрати. Непотрібний -->
      <!-- <div class="socials-container-header"> -->
      <ul class="socials-list-header">
        <li class="socials-list-item-header">
          <a
            class="social-link-header"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="social-link-icon-header" width="28" height="28">
              <use href="/img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials-list-item-header">
          <a
            class="social-link-header"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="social-link-icon-header" width="28" height="28">
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials-list-item-header">
          <a
            class="social-link-header"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="social-link-icon-header" width="28" height="28">
              <use href="/img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="mobile-menu-btn">
        <!-- width="36" height="24" прибрав для svg
          бо у нас різні розміри на mob та tab
        Вказуэмо в їх в стилях -->
        <svg class="mobile-menu-icon">
          <use href="/img/icons.svg#icon-burger-menu"></use>
        </svg>
      </button>
      <!-- </div> -->
    </div>
  </div>
</header>
