<header class="header">
  <div class="header-container container">
    <nav class="nav-header">
      <a href="./index.html" class="logo">
        <img src="/img/logo.svg" width="44" height="39" alt="site logo" />
      </a>
      <ul class="nav-list-header">
        <li>
          <a href="#about-us" class="nav-link-header">about us</a>
        </li>
        <li>
          <a href="#our-collection" class="nav-link-header">our collection</a>
        </li>
        <li>
          <a href="#customer-order" class="nav-link-header">customer order</a>
        </li>
        <li>
          <a href="#testimonials" class="nav-link-header">testimonials</a>
        </li>
      </ul>
    </nav>
    <address class="address">
      <a class="address-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
    </address>

    <div class="socials-container-header">
      <ul class="socials-list-header">
        <li class="socials-list-item-header">
          <a
            class="social-link-header"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="social-link-icon-header" width="28" height="28">
              <use href="/img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials-list-item-header">
          <a
            class="social-link-header"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="social-link-icon-header" width="28" height="28">
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials-list-item-header">
          <a
            class="social-link-header"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="social-link-icon-header" width="28" height="28">
              <use href="/img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <button
          class="mobile-menu-btn js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="mobile-menu-icon">
            <use href="../img/icons.svg#icon-burger-menu"></use>
          </svg>
        </button>
      </ul>
    </div>
  </div>
</header>
