<section class="section-hero">
  <div class="container container-hero">
    <div class="container-hero-inform">
      <div class="shell-hero">
        <h1 class="hero-title">
          Reviving the traditional
          <span class="brand-text-accent">Ukrainian</span> artistry in every
          stitch.
        </h1>

        <div class="box-hero-btn">
          <a class="main-btn hero-btn" href="#customer-order">
            Order
            <svg class="hero-btn-icon" width="26" height="10">
              <use href="/img/icons.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="box-hero-promo">
        <img
          class="hero-promo-icon"
          srcset="
            /img/hero/hero-img-star.png    1x,
            /img/hero/hero-img-star@2x.png 2x
          "
          src="/img/hero/hero-img-star.png"
          alt="star"
          width="51"
          height="52"
        />
        <p class="hero-promo-text">all embroidery is made by hand</p>
      </div>
    </div>

    <div
      class="container-hero-img"
      data-aos="fade-right"
      data-aos-duration="1500"
    >
      <picture class="hero-foto-picture">
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/hero/hero-img-desk.jpg    1x,
            /img/hero/hero-img-desk@2x.jpg 2x
          "
          width="392"
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/hero/hero-img-desk.jpg    1x,
            /img/hero/hero-img-desk@2x.jpg 2x
          "
          width="392"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/hero/hero-img-tab.jpg    1x,
            /img/hero/hero-img-tab@2x.jpg 2x
          "
          width="413"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/hero/hero-img-mob.jpg    1x,
            /img/hero/hero-img-mob@2x.jpg 2x
          "
          width="335"
        />
        <img
          class="hero-foto-img"
          src="/img/hero/hero-img-desk.jpg"
          alt="img-girl"
          width="335"
          height="545"
        />
      </picture>
    </div>
  </div>
</section>
