<div class="modal-menu-container">
  <div class="address-button-container">
    <address class="mobile-menu-address">
      <a class="mobile-menu-phone" href="tel:+380684439426"
        >+380 (68) 443-94-26</a
      >
    </address>

    <button type="button" class="close-mobile-menu-button">
      <svg class="close-mobile-menu-icon">
        <use href="/img/icons.svg#icon-close-btn"></use>
      </svg>
    </button>
  </div>
  <div>
    <ul class="mobile-link-list">
      <li class="mobile-link-item">
        <a class="mobili-link-menu" href="#about-us">About us</a>
      </li>
      <li class="mobile-link-item">
        <a class="mobili-link-menu" href="#our-collection">Our collection </a>
      </li>
      <li class="mobile-link-item">
        <a class="mobili-link-menu" href="#customer-order">CUSTOMER ORDER</a>
      </li>
      <li class="mobile-link-item">
        <a class="mobili-link-menu" href="#testimonials">TEstimonials</a>
      </li>
    </ul>
  </div>
  <div class="modal-menu-bg-container"></div>
</div>
