<section class="our-collection section-padding" id="our-collection">
  <div class="container">
    <h2 class="our-collection-title section-title">Our collection</h2>
    <ul class="our-collection-list">
      <li class="our-collection-item">
        <div class="our-collection-item-img-container">
          <picture
            ><source
              srcset="
                /img/our-collection/collection-img-1-desk-lg.jpg    1x,
                /img/our-collection/collection-img-1-desk-lg@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="400"
              height="430"
            />
            <source
              srcset="
                /img/our-collection/collection-img-1-desk-sm.jpg    1x,
                /img/our-collection/collection-img-1-desk-sm@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              width="380"
              height="430"
            />
            <source
              srcset="
                /img/our-collection/collection-img-1-tab.jpg    1x,
                /img/our-collection/collection-img-1-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="342"
              height="430"
            />
            <source
              srcset="
                /img/our-collection/collection-img-1-mob.jpg    1x,
                /img/our-collection/collection-img-1-mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="335"
              height="400"
            />
            <img
              src="/img/our-collection/collection-img-1-desk-lg.jpg"
              alt="August Poltava women's blousering"
              width="400"
              height="430"
            />
          </picture>
        </div>
        <div class="our-collection-item-text-container">
          <h3 class="our-collection-item-title">
            August Poltava women's blousering
          </h3>
          <p class="our-collection-item-price">3300 UAH</p>
        </div>
      </li>
      <li>
        <div class="our-collection-item-img-container">
          <picture
            ><source
              srcset="
                /img/our-collection/collection-img-2-desk-lg.jpg    1x,
                /img/our-collection/collection-img-2-desk-lg@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="400"
              height="430"
            />
            <source
              srcset="
                /img/our-collection/collection-img-2-desk-sm.jpg    1x,
                /img/our-collection/collection-img-2-desk-sm@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              width="380"
              height="430"
            />
            <source
              srcset="
                /img/our-collection/collection-img-2-tab.jpg    1x,
                /img/our-collection/collection-img-2-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="342"
              height="430"
            />
            <source
              srcset="
                /img/our-collection/collection-img-2-mob.jpg    1x,
                /img/our-collection/collection-img-2-mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="335"
              height="430"
            />
            <img
              src="/img/our-collection/collection-img-2-desk-lg.jpg"
              alt="Women's blouse Gorgany photo"
              width="400"
              height="430"
            />
          </picture>
        </div>
        <div class="our-collection-item-text-container">
          <h3 class="our-collection-item-title">Women's blouse Gorgany</h3>
          <p class="our-collection-item-price">3350 UAH</p>
        </div>
      </li>
      <li>
        <div class="our-collection-item-img-container">
          <picture
            ><source
              srcset="
                /img/our-collection/collection-img-3-desk-lg.jpg    1x,
                /img/our-collection/collection-img-3-desk-lg@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="400"
              height="430"
            />
            <source
              srcset="
                /img/our-collection/collection-img-3-desk-sm.jpg    1x,
                /img/our-collection/collection-img-3-desk-sm@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              width="380"
              height="430"
            />
            <source
              srcset="
                /img/our-collection/collection-img-3-tab.jpg    1x,
                /img/our-collection/collection-img-3-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="342"
              height="430"
            />
            <source
              srcset="
                /img/our-collection/collection-img-3-mob.jpg    1x,
                /img/our-collection/collection-img-3-mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="335"
              height="430"
            />
            <img
              src="/img/our-collection/collection-img-3-desk-lg.jpg"
              alt="Women's blouse Crimea photo"
              width="400"
              height="430"
            />
          </picture>
        </div>
        <div class="our-collection-item-text-container">
          <h3 class="our-collection-item-title">Women's blouse Crimea</h3>
          <p class="our-collection-item-price">4000 UAH</p>
        </div>
      </li>
      <li>
        <div class="our-collection-item-img-container">
          <picture
            ><source
              srcset="
                /img/our-collection/collection-img-4-desk-lg.jpg    1x,
                /img/our-collection/collection-img-4-desk-lg@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="400"
              height="430"
            />
            <source
              srcset="
                /img/our-collection/collection-img-4-desk-sm.jpg    1x,
                /img/our-collection/collection-img-4-desk-sm@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              width="380"
              height="430"
            />
            <source
              srcset="
                /img/our-collection/collection-img-4-tab.jpg    1x,
                /img/our-collection/collection-img-4-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="342"
              height="430"
            />
            <source
              srcset="
                /img/our-collection/collection-img-4-mob.jpg    1x,
                /img/our-collection/collection-img-4-mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="335"
              height="430"
            />
            <img
              src="/img/our-collection/collection-img-4-desk-lg.jpg"
              alt="Men's shirt Verkhovina photo"
              width="400"
              height="430"
            />
          </picture>
        </div>
        <div class="our-collection-item-text-container">
          <h3 class="our-collection-item-title">Men's shirt Verkhovina</h3>
          <p class="our-collection-item-price">3100 UAH</p>
        </div>
      </li>
      <li>
        <div class="our-collection-item-img-container">
          <picture
            ><source
              srcset="
                /img/our-collection/collection-img-5-desk-lg.jpg    1x,
                /img/our-collection/collection-img-5-desk-lg@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="400"
              height="430"
            />
            <source
              srcset="
                /img/our-collection/collection-img-5-desk-sm.jpg    1x,
                /img/our-collection/collection-img-5-desk-sm@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              width="380"
              height="430"
            />
            <source
              srcset="
                /img/our-collection/collection-img-5-tab.jpg    1x,
                /img/our-collection/collection-img-5-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="342"
              height="430"
            />
            <source
              srcset="
                /img/our-collection/collection-img-5-mob.jpg    1x,
                /img/our-collection/collection-img-5-mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="335"
              height="430"
            />
            <img
              src="/img/our-collection/collection-img-5-desk-lg.jpg"
              alt="Mountain men's shirt photo"
              width="400"
              height="430"
            />
          </picture>
        </div>
        <div class="our-collection-item-text-container">
          <h3 class="our-collection-item-title">Mountain men's shirt</h3>
          <p class="our-collection-item-price">3300 UAH</p>
        </div>
      </li>
      <li>
        <div class="our-collection-item-img-container">
          <picture
            ><source
              srcset="
                /img/our-collection/collection-img-6-desk-lg.jpg    1x,
                /img/our-collection/collection-img-6-desk-lg@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              width="400"
              height="430"
            />
            <source
              srcset="
                /img/our-collection/collection-img-6-desk-sm.jpg    1x,
                /img/our-collection/collection-img-6-desk-sm@2x.jpg 2x
              "
              media="(min-width: 1280px)"
              width="380"
              height="430"
            />
            <source
              srcset="
                /img/our-collection/collection-img-6-tab.jpg    1x,
                /img/our-collection/collection-img-6-tab@2x.jpg 2x
              "
              media="(min-width: 768px)"
              width="342"
              height="430"
            />
            <source
              srcset="
                /img/our-collection/collection-img-6-mob.jpg    1x,
                /img/our-collection/collection-img-6-mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
              width="335"
              height="430"
            />
            <img
              src="/img/our-collection/collection-img-6-desk-lg.jpg"
              alt="Men's shirt Yasen photo"
              width="400"
              height="430"
            />
          </picture>
        </div>
        <div class="our-collection-item-text-container">
          <h3 class="our-collection-item-title">Men's shirt Yasen</h3>
          <p class="our-collection-item-price">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
