<section class="revius-block">
    <div class="container">
    <h2 class="revius-title section-title">Testimonials</h2>
    <ul class="revius-list">
        <li class="revius-item">
            <img class="revius-foto" 
                srcset="/img/testimonials/customer-maria@2x.png 2x"
                src="/img/testimonials/customer-maria.png" alt="Maria foto" width="64" height="64">
            <h3 class="revius-item-title">Maria Tkachuk</h3>
            <p class="revius-text">I was pleasantly surprised by the variety of embroidery offered by Vyshyvanka Vibes. They have models for every taste - from classic to modern. I bought an embroidered dress to celebrate a special occasion and received impeccable service and refinement in every detail.</p>
        </li>
        <li class="revius-item revius-hide-phone">
            <img class="revius-foto" 
                srcset="/img/testimonials/customer-sergey@2x.png 2x"
                src="/img/testimonials/customer-sergey.png" alt="Sergey foto" width="64" height="64">
            <h3 class="revius-item-title">Sergey Rybachok</h3>
            <p class="revius-text">Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are simply masterpieces! I fell in love with the quality of the materials and the skill of the artisans behind each product. This is my favorite embroidery shop where I always find something special and unique.</p>
        </li>
        <li class="revius-item revius-hide-phone revius-hide-ipad">
            <img class="revius-foto" 
                srcset="/img/testimonials/customer-natalia@2x.png 2x"
                src="/img/testimonials/customer-natalia.png" alt="Natalia foto" width="64" height="64">
            <h3 class="revius-item-title">Natalia Chatuk</h3>
            <p class="revius-text">Vyshyvanka Vibes is a real find for everyone who appreciates Ukrainian culture. Their embroidery reflects the spirit and traditions of our people. I not only buy embroidered shirts for myself, but also give them to my friends abroad as a symbol of our beauty and national pride. </p>
        </li>
    </ul>
    </div>
</section>