<section class="order" id="customer-order">
<div class="container is-order">

<div class="order-wrap">
<h2 class="order-title"><span class="accent">Your order </span>is our priority: Personalized approach and quality of service</h2>
<form name="order-form">
    <div class="form-field">
        <input type="text" name="user-name" class="form-info" placeholder="Enter your full name" required pattern="2"/>
    </div>
    <div class="form-field">
        <input type="email" name="user-email" class="form-info" placeholder="Enter your email" required pattern="2"/>
    </div>
    <div class="form-field-com">
        <textarea name="comments" class="form-comments" placeholder="Comments" required></textarea>
    </div>
    <button type="submit" class="order-btn">Send
        <svg class="order-btn-icon" width="26" height="10">
            <use href="../src/img/icons.svg#icon-arrow"></use>
        </svg>
    </button>
</form>
</div>

<picture class="order-product">
    <source srcset="
          /img/your-order/your-order-img-desk-lg.jpg    1x,
          /img/your-order/your-order-img-desk-lg@2x.jpg 2x
        " media="(min-width:1440px)" >
    <source srcset="
          /img/your-order/your-order-img-desk-sm.jpg    1x,
          /img/your-order/your-order-img-desk-sm@2x.jpg 2x
        " media="(min-width:1280px)" >
    <source srcset="
          /img/your-order/your-order-img-tab.jpg    1x,
          /img/your-order/your-order-img-tab@2x.jpg 2x
        " media="(min-width:768px)" >

    <img src="../img/your-order/your-order-tab.jpg" class="order-product-image"  alt="the-company's-product" />
</picture>
</div>
</section>



