.footer {
  border-top: 1px solid rgba(252, 249, 249, 0.1);
  background-image: url(/img/ornament-bgrounds/yellow-bg-ornament.png);
  background-repeat: no-repeat;
  background-size: 452px 401px;
  background-position: 50% calc(50% + 319px);
}

@media screen and (min-resolution: 192dpi) {
  .footer {
    background-image: url(/img/ornament-bgrounds/yellow-bg-ornament@2x.png);
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  color: var(--primary-text-hex);
  gap: 40px;
  padding-top: 40px;
  padding-bottom: 280px;
}

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.footer-nav-items {
  width: calc((100% - 40px) / 2);
}

.footer-nav-items-collection {
  order: 2;
}

.footer-nav-items-order {
  order: 1;
}

.footer-nav-items-testimonials {
  order: 3;
}

.footer-nav-link {
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  transition: color var(--primary-transition);
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #ecd979;
}

.footer-slogan {
  font-size: 44px;
  line-height: 1.23;
  letter-spacing: -0.03em;
}

/*-------FOOTER STYLES TABLET-------*/

@media screen and (min-width: 768px) {
  .footer {
    background-position: calc(50% + 435px) 50%;
  }

  .footer-container {
    gap: 80px;
    padding-bottom: 40px;
  }

  .footer-nav-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .footer-nav-items {
    width: auto;
  }

  .footer-nav-items-collection {
    order: 0;
  }

  .footer-nav-items-order {
    order: 0;
  }

  .footer-nav-items-testimonials {
    order: 0;
  }

  .footer-slogan {
    width: 478px;
    font-size: 54px;
    line-height: 1.18;
  }
}

/*-------FOOTER STYLES DESKTOP 1280-------*/

@media screen and (min-width: 1280px) {
  .footer {
    background-size: 595px 528px;
    background-position: calc(50% + 600px) calc(50% - 14px);
  }

  .footer-container {
    gap: 117px;
  }

  .footer-slogan {
    width: 730px;
    font-size: 64px;
    line-height: 1.16;
  }
}

/*-------FOOTER STYLES DESKTOP 1440-------*/

@media screen and (min-width: 1440px) {
  .footer {
    background-position: calc(50% + 521px) calc(50% - 14px);
  }
}
