.header {
  margin-top: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-nav-container {
  height: auto;
}

.contacts-container-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-link-header,
.nav-list-header,
.address {
  display: none;
}

.socials-list-header {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.social-link-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  width: 44px;
  height: 44px;
  background: rgba(252, 249, 249, 0.1);
  transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #fcf9f9;
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  line-height: 0;
  stroke: #ecd979;
  padding: 0;
}

.mobile-menu-icon {
  stroke: #ecd979;
  width: 36px;
  height: 24px;
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 4px 0;
  }
}

@media screen and (min-width: 768px) {
  .social-link-header {
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 8px;
    width: 44px;
    height: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .nav-header {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 60px;
  }

  .nav-list-header {
    display: flex;
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 25px;
  }

  .nav-link-header {
    padding: 4px 0;
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .address {
    display: block;
    line-height: 1.42;
    text-transform: uppercase;
  }

  .address-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 28px;
    width: 193px;
    height: 48px;
  }

  .mobile-menu-btn {
    display: none;
  }
}
