@media screen and (max-width: 1279px) {
  .modal-menu-container {
    position: fixed;
    right: 0;
    top: 0;
    width: 274px;
    padding-top: 20px;
    height: 100%;
    background-color: #ecd979;
    color: var(--secondary-text-hex);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.16),
      -2px 0 4px 0 rgba(0, 0, 0, 0.08), -4px 0 8px 0 rgba(0, 0, 0, 0.04);
    transform: translateX(100%);
    transition: transform var(--primary-transition);
  }

  .modal-menu-container.is-open {
    transform: translateX(0);
  }

  .address-button-container {
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    align-items: center;
  }

  .mobile-menu-address {
    border: 1px solid rgba(28, 34, 37, 0.1);
    border-radius: 15px;
    padding: 12px 20px;
    display: flex;
    margin-right: auto;
    justify-content: center;
  }

  .mobile-menu-phone {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    text-transform: uppercase;
  }

  .close-mobile-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
  }

  .close-mobile-menu-icon {
    stroke: #1c2225;
    width: 36px;
    height: 36px;
  }

  .mobile-link-list {
    display: flex;
    margin-right: 20px;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    text-transform: uppercase;
  }

  .modal-menu-bg-container {
    min-width: 340px;
    min-height: 302px;
    background-image: url(/img/ornament-bgrounds/black-bg-ornament.png);
    background-position: -27px calc(50% + 51px);
    background-repeat: no-repeat;
    background-size: 340px 302px;
  }
  @media screen and (min-resolution: 192dpi) {
    .modal-menu-bg-container {
      background-image: url(/img/ornament-bgrounds/black-bg-ornament@2x.png);
    }
  }

  /* ========== Table Menu Style =========== */

  @media screen and (min-width: 768px) {
    .modal-menu-container {
      width: 378px;
    }

    .address-button-container {
      margin-left: auto;
      margin-right: auto;
    }

    .mobile-link-list {
      margin-right: 30px;
    }

    .mobile-menu-phone {
      font-size: 14px;
    }

    .mobile-menu-address {
      margin-right: 79px;
    }

    .modal-menu-bg-container {
      height: 364px;
      background-size: 545px 484px;
      background-position: -74px calc(50% + 75px);
    }

    @media screen and (min-resolution: 192dpi) {
      .modal-menu-bg-container {
        background-image: url(/img/ornament-bgrounds/black-bg-ornament@2x.png);
      }
    }
  }
}
