@import url('./reset.css');
@import url('./general.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-us.css');
@import url('./our-collection.css');
@import url('./your-order.css');
@import url('./testimonials.css');
@import url('./footer.css');
@import url('./modal-menu.css');
